flows.json
[{"id":"b5ca217d.d74d4","type":"tab","label":"Dashboard","disabled":false,"info":"","env":[]},{"id":"a2cedb3a793271a3","type":"tab","label":"Db Stuff","disabled":false,"info":"","env":[]},{"id":"216ac3662039fb29","type":"tab","label":"Rest API","disabled":false,"info":"","env":[]},{"id":"accf6d38cb7c8bf6","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"56cbd627faf03f90","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a406392d24ae29d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f11b5a7ceb278383","type":"ui_group","name":"CPU","tab":"56cbd627faf03f90","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"756e35b921ae7ae1","type":"ui_group","name":"Memory","tab":"56cbd627faf03f90","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"e34e90e90d04f52a","type":"ui_tab","name":"About","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"942fca48f13e5ad7","type":"ui_group","name":"About Us","tab":"e34e90e90d04f52a","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b31fb5f081faaab9","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"local","name":""},{"id":"628acbbb0da3e2b0","type":"inject","z":"b5ca217d.d74d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":250,"y":340,"wires":[["851ddaa08e9ae29e","81769011dfcbc321"]]},{"id":"81769011dfcbc321","type":"Memory","z":"b5ca217d.d74d4","name":"","scale":"Gigabyte","x":480,"y":220,"wires":[["d7f549d8a7b54228"]]},{"id":"851ddaa08e9ae29e","type":"cpu","z":"b5ca217d.d74d4","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":450,"y":460,"wires":[["4dce67c1a92ee8f8","df63668c9920da47","a8700458dc38bfd6"]]},{"id":"5282c5b2fc3a7ce7","type":"ui_gauge","z":"b5ca217d.d74d4","name":"Memory Usage Donut","group":"756e35b921ae7ae1","order":1,"width":"0","height":"0","gtype":"donut","title":"Memory Usage","label":"","format":"{{value | number:2}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"75","className":"","x":1000,"y":160,"wires":[]},{"id":"d7f549d8a7b54228","type":"function","z":"b5ca217d.d74d4","name":"Set Memory Usage","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":220,"wires":[["5282c5b2fc3a7ce7","e1dd96f140f53242","2378ea80bd2665db"]]},{"id":"4dce67c1a92ee8f8","type":"ui_gauge","z":"b5ca217d.d74d4","name":"Cpu Usage Donut","group":"f11b5a7ceb278383","order":1,"width":0,"height":0,"gtype":"donut","title":"Cpu Usage","label":"","format":"{{value | number:2}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"75","className":"","x":690,"y":440,"wires":[]},{"id":"df63668c9920da47","type":"ui_chart","z":"b5ca217d.d74d4","name":"Cpu Usage Line Chart","group":"f11b5a7ceb278383","order":1,"width":0,"height":0,"label":"Cpu Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"60","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":700,"y":500,"wires":[[]]},{"id":"e1dd96f140f53242","type":"ui_chart","z":"b5ca217d.d74d4","name":"Memory Usage Line Chart","group":"756e35b921ae7ae1","order":2,"width":0,"height":0,"label":"Memory Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"60","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":220,"wires":[[]]},{"id":"2378ea80bd2665db","type":"link out","z":"b5ca217d.d74d4","name":"Memory Usage","mode":"link","links":["82c3dfc293dd7dd3"],"x":915,"y":100,"wires":[]},{"id":"a8700458dc38bfd6","type":"link out","z":"b5ca217d.d74d4","name":"Cpu Usage","mode":"link","links":["1229a337ec137c61"],"x":635,"y":600,"wires":[]},{"id":"9da019a87e5294fc","type":"ui_template","z":"b5ca217d.d74d4","group":"942fca48f13e5ad7","name":"","order":0,"width":0,"height":0,"format":"<div>\n    I am a software developer\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":800,"y":780,"wires":[[]]},{"id":"82c3dfc293dd7dd3","type":"link in","z":"a2cedb3a793271a3","name":"Memory Usage","links":["2378ea80bd2665db"],"x":185,"y":260,"wires":[["37755aa86e51595b"]]},{"id":"37755aa86e51595b","type":"function","z":"a2cedb3a793271a3","name":"Memory Usage Object","func":"msg.payload = {\nname:'Memory Usage',\nvalue: msg.payload, \nmeasureDate: new Date().toISOString()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[["c58278100e1d51d6"]]},{"id":"c58278100e1d51d6","type":"mongodb out","z":"a2cedb3a793271a3","mongodb":"b31fb5f081faaab9","name":"","collection":"PerformanceResults","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":690,"y":320,"wires":[]},{"id":"1229a337ec137c61","type":"link in","z":"a2cedb3a793271a3","name":"Cpu Usage","links":["a8700458dc38bfd6"],"x":175,"y":380,"wires":[["59a4943ca0b09314"]]},{"id":"59a4943ca0b09314","type":"function","z":"a2cedb3a793271a3","name":"Cpu Usage Object","func":"msg.payload = {\nname:'Cpu Usage',\nvalue: msg.payload, \nmeasureDate: new Date().toISOString()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":380,"wires":[["c58278100e1d51d6"]]},{"id":"de8ac93e91e9757b","type":"http in","z":"216ac3662039fb29","name":"GetLatest","url":"/latestValue","method":"get","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["6bb98902f0f71728"]]},{"id":"53c3757d76d89d95","type":"http response","z":"216ac3662039fb29","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":870,"y":280,"wires":[]},{"id":"8cdeb86dd93101d7","type":"mongodb in","z":"216ac3662039fb29","mongodb":"b31fb5f081faaab9","name":"","collection":"PerformanceResults","operation":"find","x":610,"y":280,"wires":[["53c3757d76d89d95"]]},{"id":"6bb98902f0f71728","type":"function","z":"216ac3662039fb29","name":"FindQuery","func":"msg.sort = {measureDate: -1};\nmsg.limit = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":280,"wires":[["8cdeb86dd93101d7"]]}]